In [45]:
import pandas as pd
import numpy as np

In [46]:
base = pd.read_csv("covid_worldwide.csv")

In [47]:
base.head(10)

,Serial Number,Country,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Test,Population
0,1,USA,"104,196,861","1,132,935","101,322,779","1,741,147","1,159,832,679","334,805,269"
1,2,India,"44,682,784","530,740","44,150,289","1,755","915,265,788","1,406,631,776"
2,3,France,"39,524,311","164,233","39,264,546","95,532","271,490,188","65,584,518"
3,4,Germany,"37,779,833","165,711","37,398,100","216,022","122,332,384","83,883,596"
4,5,Brazil,"36,824,580","697,074","35,919,372","208,134","63,776,166","215,353,593"
5,6,Japan,"32,588,442","68,399","21,567,425","10,952,618","92,144,639","125,584,838"
6,7,S. Korea,"30,197,066","33,486","29,740,877","422,703","15,804,065","51,329,899"
7,8,Italy,"25,453,789","186,833","25,014,986","251,970","265,478,247","60,262,770"
8,9,UK,"24,274,361","204,171","24,020,088","50,102","522,526,476","68,497,907"
9,10,Russia,"21,958,696","395,108","21,356,008","207,580","273,400,000","145,805,947"

In [48]:
base.tail(5)

,Serial Number,Country,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Test,Population
226,227,Diamond Princess,712,13,699,0,NaN,NaN
227,228,Vatican City,29,NaN,29,0,NaN,799
228,229,Western Sahara,10,1,9,0,NaN,"626,161"
229,230,MS Zaandam,9,2,7,0,NaN,NaN
230,231,Tokelau,5,NaN,NaN,5,NaN,"1,378"

In [49]:
linhas, colunas = base.shape
print("Quantidade de linhas:", linhas)
print("Quantidade de colunas:", colunas)

Quantidade de linhas: 231
Quantidade de colunas: 8

In [50]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Serial Number    231 non-null    int64
 1   Country          231 non-null    object
 2   Total Cases      231 non-null    object
 3   Total Deaths     225 non-null    object
 4   Total Recovered  210 non-null    object
 5   Active Cases     212 non-null    object
 6   Total Test       213 non-null    object
 7   Population       228 non-null    object
dtypes: int64(1), object(7)
memory usage: 14.6+ KB

In [51]:
print("\nValores nulos por coluna:")
print(base.isnull().sum())

Valores nulos por coluna:
Serial Number       0
Country             0
Total Cases         0
Total Deaths        6
Total Recovered    21
Active Cases       19
Total Test         18
Population          3
dtype: int64

In [52]:
coluna_manter=['Country']
for coluna in base.columns:
    if coluna not in coluna_manter:
        base[coluna]=base[coluna].replace(',','',regex=True)
        base[coluna]=base[coluna].astype(float)
print(base.dtypes)

Serial Number      float64
Country             object
Total Cases        float64
Total Deaths       float64
Total Recovered    float64
Active Cases       float64
Total Test         float64
Population         float64
dtype: object

In [53]:
base.fillna(0,inplace=True)

In [54]:
base.drop(columns=['Serial Number'],inplace=True)

In [55]:
base.head(10)

,Country,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Test,Population
0,USA,104196861.0,1132935.0,101322779.0,1741147.0,1.159833e+09,3.348053e+08
1,India,44682784.0,530740.0,44150289.0,1755.0,9.152658e+08,1.406632e+09
2,France,39524311.0,164233.0,39264546.0,95532.0,2.714902e+08,6.558452e+07
3,Germany,37779833.0,165711.0,37398100.0,216022.0,1.223324e+08,8.388360e+07
4,Brazil,36824580.0,697074.0,35919372.0,208134.0,6.377617e+07,2.153536e+08
5,Japan,32588442.0,68399.0,21567425.0,10952618.0,9.214464e+07,1.255848e+08
6,S. Korea,30197066.0,33486.0,29740877.0,422703.0,1.580406e+07,5.132990e+07
7,Italy,25453789.0,186833.0,25014986.0,251970.0,2.654782e+08,6.026277e+07
8,UK,24274361.0,204171.0,24020088.0,50102.0,5.225265e+08,6.849791e+07
9,Russia,21958696.0,395108.0,21356008.0,207580.0,2.734000e+08,1.458059e+08

In [56]:
print("\nValores nulos por coluna:")
print(base.isnull().sum())

Valores nulos por coluna:
Country            0
Total Cases        0
Total Deaths       0
Total Recovered    0
Active Cases       0
Total Test         0
Population         0
dtype: int64

In [57]:
base.describe()

,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Test,Population
count,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02,2.310000e+02
mean,2.923460e+06,2.927706e+04,2.721732e+06,8.351410e+04,2.996123e+07,2.812322e+07
std,9.479286e+06,1.041073e+05,9.116089e+06,7.344789e+05,1.133726e+08,1.016625e+08
min,5.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.400100e+04,1.795000e+02,1.208250e+04,1.850000e+01,2.260585e+05,4.063530e+05
50%,2.065920e+05,1.965000e+03,1.315590e+05,7.390000e+02,1.671684e+06,5.511370e+06
75%,1.296146e+06,1.390850e+04,1.255186e+06,9.328500e+03,1.148478e+07,2.152480e+07
max,1.041969e+08,1.132935e+06,1.013228e+08,1.095262e+07,1.159833e+09,1.406632e+09

In [42]:
print(base)

                  Total Cases  Total Deaths  Total Recovered  Active Cases  \
Country
USA               104196861.0     1132935.0      101322779.0     1741147.0
India              44682784.0      530740.0       44150289.0        1755.0
France             39524311.0      164233.0       39264546.0       95532.0
Germany            37779833.0      165711.0       37398100.0      216022.0
Brazil             36824580.0      697074.0       35919372.0      208134.0
...                       ...           ...              ...           ...
Diamond Princess        712.0          13.0            699.0           0.0
Vatican City             29.0           0.0             29.0           0.0
Western Sahara           10.0           1.0              9.0           0.0
MS Zaandam                9.0           2.0              7.0           0.0
Tokelau                   5.0           0.0              0.0           5.0

                    Total Test    Population
Country
USA               1.159833e+09  3.348053e+08
India             9.152658e+08  1.406632e+09
France            2.714902e+08  6.558452e+07
Germany           1.223324e+08  8.388360e+07
Brazil            6.377617e+07  2.153536e+08
...                        ...           ...
Diamond Princess  0.000000e+00  0.000000e+00
Vatican City      0.000000e+00  7.990000e+02
Western Sahara    0.000000e+00  6.261610e+05
MS Zaandam        0.000000e+00  0.000000e+00
Tokelau           0.000000e+00  1.378000e+03

[231 rows x 6 columns]

In [58]:
print(base.columns)

Index(['Country', 'Total Cases', 'Total Deaths', 'Total Recovered',
       'Active Cases', 'Total Test', 'Population'],
      dtype='object')

In [60]:
colunas_selecionadas = ['Country', 'Total Cases']
base_nova = base[colunas_selecionadas]

# Agora 'base_nova' contém apenas as colunas selecionadas
print(base_nova)

              Country  Total Cases
0                 USA  104196861.0
1               India   44682784.0
2              France   39524311.0
3             Germany   37779833.0
4              Brazil   36824580.0
..                ...          ...
226  Diamond Princess        712.0
227      Vatican City         29.0
228    Western Sahara         10.0
229        MS Zaandam          9.0
230           Tokelau          5.0

[231 rows x 2 columns]

In [61]:
print(base_nova.nlargest(10,'Total Cases'))

    Country  Total Cases
0       USA  104196861.0
1     India   44682784.0
2    France   39524311.0
3   Germany   37779833.0
4    Brazil   36824580.0
5     Japan   32588442.0
6  S. Korea   30197066.0
7     Italy   25453789.0
8        UK   24274361.0
9    Russia   21958696.0

In [62]:
colunas_selecionadas = ['Country', 'Total Deaths']
base_nova2 = base[colunas_selecionadas]
print(base_nova2)

              Country  Total Deaths
0                 USA     1132935.0
1               India      530740.0
2              France      164233.0
3             Germany      165711.0
4              Brazil      697074.0
..                ...           ...
226  Diamond Princess          13.0
227      Vatican City           0.0
228    Western Sahara           1.0
229        MS Zaandam           2.0
230           Tokelau           0.0

[231 rows x 2 columns]

In [64]:
print(base_nova2.nlargest(10,'Total Deaths'))

    Country  Total Deaths
0       USA     1132935.0
4    Brazil      697074.0
1     India      530740.0
9    Russia      395108.0
18   Mexico      332198.0
34     Peru      218931.0
8        UK      204171.0
7     Italy      186833.0
3   Germany      165711.0
2    France      164233.0

In [65]:
colunas_selecionadas = ['Country', 'Active Cases']
base_nova3 = base[colunas_selecionadas]
print(base_nova3)

              Country  Active Cases
0                 USA     1741147.0
1               India        1755.0
2              France       95532.0
3             Germany      216022.0
4              Brazil      208134.0
..                ...           ...
226  Diamond Princess           0.0
227      Vatican City           0.0
228    Western Sahara           0.0
229        MS Zaandam           0.0
230           Tokelau           5.0

[231 rows x 2 columns]

In [66]:
print(base_nova3.nlargest(10,'Active Cases'))

       Country  Active Cases
5        Japan    10952618.0
0          USA     1741147.0
20      Poland      925549.0
12     Vietnam      870843.0
18      Mexico      429421.0
15      Taiwan      423489.0
6     S. Korea      422703.0
40   Hong Kong      354439.0
64  Costa Rica      316307.0
7        Italy      251970.0